/* Estilos para a Mensagem */
.message {
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 10px;
    max-width: 35%;
    word-break: break-all;
    position: relative;
}

.message.user {
    background-color: rgb(208, 250, 197);
    align-self: flex-end;
}

.message.other {
    background-color: rgba(206, 206, 206, 0.45);
    align-self: flex-start;
}

.username {
    font-weight: bold;
    color: #000000;
    font-size: small;
}

.emoji {
    font-size: 1em;
    position: absolute;
    bottom: calc(0px - .5em);
}

.message.user .emoji {
    right: calc(0px - .5em);
}

.message.other .emoji {
    left: calc(0px - .5em);
}

.message.user .text {
    align-self: end;
}

.message.other .text {
    align-self: start;
}

.text {
    margin: 0;
}